version: '3'
services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
    - 6379:6379
    volumes:
    - redis_data:/data
    command: redis-server --appendonly yes --requirepass lite-api
    environment:
      - REDIS_MAXMEMORY=100mb
      - REDIS_MAXMEMORY_POLICY=allkeys-lru
networks:
  default:
    driver: bridge
volumes:
  redis_data:
    driver: local